/* Opal DS */
@layer properties {
  :root {
    color-scheme: light dark;
    --global-scrollbar-buffer: 15px;
  /*
   * General design tokens
   * Base token in raw format.
   * Global token with value.
  */
    --color-internet_blue: oklch(0.52617 0.26402 263.603);
    --color-red: oklch(0.50346 0.1899 29.428);
    --color-deep_yellow: oklch(0.81453 0.16585 79.812);
    /* Tonos Neutros */
    --color-metal-dark: oklch(0.65 0 0);
    --color-metal: oklch(0.75 0 0);
    --color-metal-light: oklch(0.85 0 0);
    /* Colores de Acento Vibrantes */
    --color-lima-dark: oklch(0.6756 0.226 145.3);
    --color-lima: oklch(0.7756 0.226 145.3);
    --color-lima-light: oklch(87.56% 0.226 145.3);
    --color-purple: oklch(0.556 0.23 289);
    --color-magenta: oklch(0.62 0.25 325);
    --color-red_violet: oklch(0.55335 0.2217 349.67);
    --color-yellow: oklch(0.90 0.21 105);
    --color-yellow-digital: #FACC15; /* Placeholder: Usando 'amber-400' */
    --color-grey1: #6B7280; /* Placeholder: 'gray-500' */
    --color-border-default: rgba(0, 0, 0, 0.1); /* border-black/10 */
    --color-powder_blue: oklch(0.90293 0.06231 187.421);
    /* Colores de los Avatares */
    --color-bubblegum_pink: oklch(0.7 0.19 350);
    --color-soft_orange: oklch(0.75 0.15 55);

    --color-tan: oklch(0.88 0.01 93.58);
    --color-dark-clay: oklch(0.37 0.01 31.09);

    --color-primary-01: var(--);
    --color-primary-02: var(--);
    --color-primary-03: var(--);
    --color-primary-04: var(--);
    --color-primary-05: var(--);
    --color-primary-06: var(--);
    --color-primary-07: var(--);
    --color-primary-08: var(--);
    --color-primary-09: var(--);
    --color-primary-10: var(--);

    --color-secondary-01: var(--);
    --color-secondary-02: var(--);
    --color-secondary-03: var(--);
    --color-secondary-04: var(--);
    --color-secondary-05: var(--);
    --color-secondary-06: var(--);
    --color-secondary-07: var(--);
    --color-secondary-08: var(--);
    --color-secondary-09: var(--);
    --color-secondary-10: var(--);

    --color-tertiary-01: var(--);
    --color-tertiary-02: var(--);
    --color-tertiary-03: var(--);
    --color-tertiary-04: var(--);
    --color-tertiary-05: var(--);
    --color-tertiary-06: var(--);
    --color-tertiary-07: var(--);
    --color-tertiary-08: var(--);
    --color-tertiary-09: var(--);
    --color-tertiary-10: var(--);

    --color-white: oklch(1 0 0);
    --color-black: oklch(0.16685 0.00843 296.872);
    --color-neutral-50: oklch(0.985 0 0);
    --color-neutral-100: oklch(0.97 0 0);
    --color-neutral-200: oklch(0.922 0 0);
    --color-neutral-300: oklch(0.87 0 0);
    --color-neutral-400: oklch(0.708 0 0);
    --color-neutral-500: oklch(0.556 0 0);
    --color-neutral-600: oklch(0.439 0 0);
    --color-neutral-700: oklch(0.371 0 0);
    --color-neutral-800: oklch(0.269 0 0);
    --color-neutral-900: oklch(0.205 0 0);
    --color-neutral-950: oklch(0.145 0 0);

    --color-neutral-variant-01: oklch(0.985 0.013 106.424);
    --color-neutral-variant-02: oklch(0.97 0.013 106.424);
    --color-neutral-variant-03: oklch(0.923 0.013 48.717);
    --color-neutral-variant-04: oklch(0.869 0.013 56.366);
    --color-neutral-variant-05: oklch(0.709 0.013 56.259);
    --color-neutral-variant-06: oklch(0.553 0.013 58.071);
    --color-neutral-variant-07: oklch(0.444 0.013 73.639);
    --color-neutral-variant-08: oklch(0.374 0.013 67.558);
    --color-neutral-variant-09: oklch(0.268 0.013 34.298);
    --color-neutral-variant-10: oklch(0.216 0.013 56.043);
    --color-neutral-variant-11: oklch(0.147 0.013 49.25);
  /*
   * Aero’s design token system
   * Alias token and component-specific token.
  */
    --font-family-sans: 'InterVariable', 'Inter', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-display: 'InterDisplay';
    --font-family-serif: 'AppleGaramond', ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-family-mono: 'GeistMono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-style-roman: normal;
    --font-style-italic: italic;
    --font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
    --font-size-12: 0.75rem;
    --font-size-14: 0.875rem;
    --font-size-16: 1rem;
    --font-size-18: 1.125rem;
    --font-size-20: 1.25rem;
    --font-size-24: 1.5rem;
    --font-size-28: 1.75rem;
    --font-size-32: 2rem;
    --font-size-36: 2.25rem;
    --font-size-42: 2.625rem;
    --font-size-48: 3rem;
    --font-size-54: 3.375rem;
    --font-size-60: 3.75rem;
    --font-size-68: 4.25rem;
    --font-size-76: 4.75rem;
    --font-size-84: 5.25rem;
    --font-size-92: 5.75rem;
    --font-weight-thin: 100;
    --font-weight-ultralight: 200;
    --font-weight-ligth: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-ultrabold: 800;
    --font-weight-black: 900;
    --font-leading-1-3x: 1.3;
    --font-leading-1-5x: 1.5;
    --font-leading-1-7x: 1.7;
    --font-tracking-common: -0.01em;
    --font-tracking-1: -0.04em;
    --font-tracking-2: -0.12em;

    --header-height: 64px;
    --spacing-sat: env(safe-area-inset-top);
    --spacing-sar: env(safe-area-inset-right);
    --spacing-sab: env(safe-area-inset-bottom);
    --spacing-sal: env(safe-area-inset-left);
    --spacing-01: 2px;
    --spacing-02: 4px;
    --spacing-03: 8px;
    --spacing-04: 12px;
    --spacing-05: 16px;
    --spacing-06: 24px;
    --spacing-07: 32px;
    --spacing-08: 40px;
    --spacing-09: 48px;
    --spacing-10: 64px;
    --spacing-11: 80px;
    --spacing-12: 96px;
    --spacing-13: 160px;
    --spacing-fluid-2: 0.125rem;
    --spacing-fluid-4: 0.25rem;
    --spacing-fluid-8: 0.5rem;
    --spacing-fluid-12: 0.75rem;

    --rounding-default: 4px;
    --rounding-small: 2px;
    --rounding-full: 50vh;

    --border-width-x1: 1px;
    --border-width-x2: 2px;
    --border-width-x4: 4px;

    --aspect-anamophic: 2.39/1;
    --aspect-univisium: 2/1;
    --aspect-widescreen: 16/9;
    --aspect-landscape: 3/2;
    --aspect-portrait: 2/3;
    --aspect-square: 1;

    --breakpoint-sm: 320px;
    --breakpoint-md: 672px;
    --breakpoint-lg: 1056px;
    --breakpoint-xl: 1312px;
    --breakpoint-xxl: 1584px;
  
    --backdrop-filter: blur(6px);
    --background-color: rgba(0, 0, 0, 0.1);
    --focus-regular: blur(24px);
    --focus-prominent: blur(40px);

    --opacity-regular: 10px;
    --opacity-clear: 0px;

    --saturation-min: saturation(0);
    --saturation-med: saturation(1);
    --saturation-max: saturation(1.12);
    --brightness-min: brightness(0);
    --brightness-med: brightness(.7);
    --brightness-max: brightness(1);

    --box-shadow-outset-l1: 0px 4px 10px 0px hsla(0 0 0 / 0.25);

    --ease-default: cubic-bezier(0.25, 0.1, 0.25, 1);
    --in-1: cubic-bezier(0.47, 0, 0.745, 0.715);
    --out-1: cubic-bezier(0.39, 0.575, 0.565, 1);
    --in-out-1: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    --in-2: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    --out-2: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    --in-out-2: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    --in-3: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    --out-3: cubic-bezier(0.215, 0.61, 0.355, 1);
    --in-out-3: cubic-bezier(0.645, 0.045, 0.355, 1);
    --in-4: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    --out-4: cubic-bezier(0.165, 0.84, 0.44, 1);
    --in-out-4: cubic-bezier(0.77, 0, 0.175, 1);
    --in-5: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    --out-5: cubic-bezier(0.23, 1, 0.32, 1);
    --in-out-5: cubic-bezier(0.86, 0, 0.07, 1);
    --in-6: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    --out-6: cubic-bezier(0.19, 1, 0.22, 1);
    --in-out-6: cubic-bezier(1, 0, 0, 1);

    --motion-easing-ease-out: cubic-bezier(0, 0, 0.40, 1);
    --motion-easing-ease-in: cubic-bezier(0.50, 0, 1, 1);
    --motion-easing-ease-in-out: cubic-bezier(0.45, 0, 0.40, 1);
    --motion-duration-micro-x1: 100ms;
    --motion-duration-micro-x2: 160ms;
    --motion-duration-micro-x3: 190ms;
    --motion-duration-micro-x4: 220ms;
    --motion-duration-macro-x1: 250ms;
    --motion-duration-macro-x2: 300ms;
    --motion-duration-macro-x3: 350ms;
    --motion-duration-macro-x4: 400ms;
    --motion-duration-macro-x5: 450ms;
    --motion-duration-macro-x6: 500ms;

    --motion-page-rendered-wait: var(--motion-duration-micro-x2);
    --motion-page-transition-time: var(--motion-duration-micro-x3);
    --motion-slider-transition-time: var(--motion-duration-macro-x3);
    --motion-hover-transition-time: var(--motion-duration-micro-x2);
    --motion-animate-pulse: pulse 2s var(--motion-easing-ease-in-out) infinite;
    --motion-animate-blink: blink 2s var(--motion-easing-ease-in-out) infinite;

    --focus-offset: 1px;
    --focus-offset-container: 3px;
  }
  @media screen and (prefers-color-scheme: light) {
    :root {
      --color-accent: var(--color-);
      --color-accent-hover: var(--color-);
      --color-success: var(--color-lima);
      --color-info: var(--color-);
      --color-danger: var(--color-);
      --color-dange-background: oklch(0.9 0.04 30);
      --color-danger-onbackground: oklch(0.5 0.19 27);
      --color-warning: var(--color-);
      --color-focus: oklch(0.56294 0.19341 256.173);
      --color-focus-alt: oklch(0 0 0);
      --ring-inset: ;
      --width-ring-offset: 2px;
      --color-ring-offset: oklch(0.56294 0.19341 256.173);
      --color-skeleton: var(--);
      --color-text-primary: var(--color-gray-10); /* for primary text on background */
      --color-text-secondary: var(--color-gray-09); /* for secondary text on background */
      --color-text-onsuface-primary: var(--color-); /* for primary text on surface */
      --color-text-onsuface-secondary: var(--color-); /* for secondary text on surface */
      --color-label-primary: oklch(0.22 0 0); /* for standard label */
      --color-label-primary-active: oklch(0.99 0 0); /* for standard label active */
      --color-label-primary-controls: hsla(0, 0%, 25%, 1.00); /* for standard label on accent */
      --color-label-primary-controls: var(--color-black); /* for standard label on accent */
      --color-label-secondary: var(--color-); /* for descriptive label like footnotes and subtitles */
      --color-label-tertiary: hsla(240, 6%, 25%, 0.30); /* for inactive elements, and only when label doesn’t need high legibility */
      --color-label-quaternary: var(--color-); /* for label */
      --color-label-success: var(--color-); /* for label on success */
      --color-label-info: var(--color-); /* for label on info */
      --color-label-danger: var(--color-); /* for label on danger */
      --color-label-warning: var(--color-); /* for label on warning */
      --color-background: oklch(0.99 0 0); /* background */
      --color-background-secondary: var(--color-metal);
      --color-background-tertiary: var(--color-metal-light);
      --color-surface-primary: var(--color-metal);
      --color-surface-secondary: oklch(0.99 0 0 / 85%);
      --color-foregroud-ultrathick: oklch(0.97015 0 0 / 0.84); /* full-screen views that require a light color scheme */
      --color-foregroud-thick: oklch(0.68295 0 0 / 0.97); /* overlay views that partially obscure onscreen content and require a light color scheme */
      --color-foregroud-regular: oklch(0.76676 0 0 / 0.82); /* overlay views that partially obscure onscreen content */
      --color-foregroud-thin: oklch(0.72516 0 0 / 0.7); /* overlay views that partially obscure onscreen content and require a dark color scheme */
      --color-foregroud-ultrathin: oklch(0.80466 0 0 / 0.44); /* full-screen views that require a dark color scheme */
      --color-overlay: var(--color-foregroud-regular);
      --color-glow: radial-gradient(#fff 50%, #0000 70%);
      --color-fill: oklch(0.96 0 0);
      --color-fill-primary: hsla(0, 0%, 47%, 0.20);
      --color-fill-secondary: var(--color-);
      --color-fill-tertiary: hsla(240, 4%, 48%, 0.12);
      --color-fill-destructive: hsla(359, 100%, 61%, 0.14);
      --color-fill-border: hsla(240, 4%, 48%, 0.20);
      --color-separator-opaque: hsla(240, 2%, 78%, 1.00);
      --color-separator-nonopaque: hsla(0, 0%, 0%, 0.12);


      --color-background-primary: oklch(97.015% 0.00011 271.152);
      --color-background-secondary: oklch(94.611% 0.00011 271.152);
      --color-background-tertiary: oklch(97.015% 0.00011 271.152);
      --color-background-elevated: oklch(97.015% 0.00011 271.152); /* code */
      --color-background-elevated-secondary: oklch(925.197% 0.00003 271.152 / 0.1);
      --color-border: oklch(25.197% 0.00003 271.152 / 0.1);
      --color-text-primary: oklch(25.197% 0.00003 271.152);
      --color-text-secondary: oklch(25.197% 0.00003 271.152 / 0.7);
      --color-link: oklch(69.304% 0.1968 24.755);
      --button-primary-bg: oklch(20.019% 0.00002 271.152);
      --button-primary-hover-bg: oklch(69.304% 0.1968 24.755);
      --button-primary-text: oklch(100% 0.00011 271.152);
      --button-primary-hover-text: oklch(69.304% 0.1968 24.755);
      --button-secondary-bg: transparent;
      --button-secondary-hover-bg: oklch(69.304% 0.1968 24.755);
      --button-secondary-text: oklch(20.019% 0.00002 271.152);
      --button-secondary-hover-text: oklch(100% 0.00011 271.152);
      --color-tag: oklch(69.304% 0.1968 24.755);
      --color-ring: oklch(69.304% 0.1968 24.755);
    }
  }
  @media screen and (prefers-color-scheme: dark) {
    :root {
      --color-separator-opaque: hsla(240, 2%, 22%, 1.00);
      --color-separator-nonopaque: hsla(1, 0%, 0%, 0.17);
    }
  }
  @media (prefers-reduced-transparency) {
    :root {
      
    }
  }
}