---
import Button from '@components/ui/Button.astro';
import Clock from '@components/shared/Clock.svelte';

const navAnchor = [
  { href: "/", text: "About" },
  { href: "/services", text: "Services" },
  { href: "/showcase", text: "Showcase" },
  { href: "/blog", text: "Blog" },
  { href: "/shop", text: "Shop" },
];
---
<header id="globalheader">
  <div class="content" role="dialog" aria-modal="true" tabindex="-1">
    <Clock client:load />
    <div class="framer-tl3svo">
      <div class="framer-1haor4">
        <div class="framer-1smtx7k" style="transform:none">
          <h1 style="--framer-text-alignment:center;--framer-text-color: rgba(20, 20, 20, 0.1)">
            <span style="display: inline-block; will-change: transform">Marcel Rojas</span>
          </h1>
      </div>
    </div>
    <nav id="globalnav" class="haptic-nav" aria-label="Global">
      <ul id="globalnav-list">
        {navAnchor.map(link => (
          <li class="nav-item">
            <a href={link.href} class="nav-anchor">{link.text}</a>
          </li>
        ))}
      </ul>
    </nav>
  </div>
</header>
<style>
  header#globalheader {
    position: relative;
    left: max(var(--spacing-sal) + 22px);
    right: max(var(--spacing-sar) + 22px);
    z-index: 4;
    & div.content {
      position: relative;
      width: 100%;
      height: min-content;
      overflow: clip;
      display: flex;
      flex-flow: column;
      flex: none;
      padding: 56px 16px 40px;
      gap: 28px;
      order: -1000;
      align-items: center;
      & div.framer-tl3svo {
        position: relative;
        height: min-content;
        width: 100%;
        padding: 0;
        gap: 10px;
        overflow: clip;
        display: flex;
        flex-flow: column;
        flex: none;
        align-items: center;
        & div.framer-1haor4 {
          position: relative;
          width: auto;
          max-width: 496px;
          height: auto;
          flex: none;
          white-space: pre-wrap;
          word-break: break-word;
          word-wrap: break-word;
          & div.framer-1smtx7k {
            position: relative;
            width: auto;
            max-width: 496px;
            height: auto;
            flex: none;
            white-space: pre-wrap;
            word-break: break-word;
            word-wrap: break-word;
            & h1 {
              
            }
          }
        }
      }
      nav#globalnav {
        position: sticky;
        width: 100%;
        max-width: 420px;
        height: min-content;
        will-change: opacity, visibility, allow-discrete;
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, allow-discrete 0.3s ease-in-out;
        & ul {
          position: relative;
          width: 100%;
          height: min-content;
          display: flex;
          flex-flow: row;
          flex: none;
          place-content: center;
          align-items: center;
          gap: 4px;
          & li {
            position: relative;
            & a.nav-anchor {
              color: var(--color-label-primary);
              text-decoration: none;
              transition: color 150ms, background-color 150ms, border-radius 150ms, transform 150ms;
              &:hover {
                color: var(--color-primary);
                transform: scale(2px)
              }
              &:active {
                color: var(--color-primary);
                transform: scale(2px)
              }
            }
          }
        }
      }
    }
  }
</style>