---
import Button from '@components/ui/Button.astro';
import Clock from '@components/shared/Clock.svelte';

const navAnchor = [
  { href: "/", text: "About" },
  { href: "/services", text: "Services" },
  { href: "/showcase", text: "Showcase" },
  { href: "/blog", text: "Blog" },
  { href: "/shop", text: "Shop" },
];
---
<header id="globalheader">
  <div class="content" role="dialog" aria-modal="true" tabindex="-1">
    <Clock client:load />
    <div class="page-title">
      <h1>Marcel Rojas</h1>
    </div>
    <nav id="globalnav" class="haptic-nav" aria-label="Global">
      <ul>
        {navAnchor.map(link => (
          <li>
            <a href={link.href}>{link.text}</a>
          </li>
        ))}
      </ul>
    </nav>
  </div>
</header>
<style>
  header#globalheader {
    position: relative;
    padding-left: max(var(--spacing-sal) + 22px);
    padding-right: max(var(--spacing-sar) + 22px);
    & > div.content {
      position: relative;
      height: min-content;
      overflow: clip;
      display: flex;
      flex-flow: column;
      padding-top: max(var(--spacing-sat) + 56px);
      padding-bottom: max(var(--spacing-sab) + 40px);
      gap: 28px;
      align-items: center;
      & > div.page-title {
        position: relative;
        width: auto;
        max-width: 496px;
        height: auto;
        white-space: pre-wrap;
        word-break: break-word;
        word-wrap: break-word;
        & > h1 {
          font-family: var(--font-family-sans);
          font-size: calc(calc(1rem * 5) * 1);
          font-weight: var(--font-weight-600);
          line-height: 1.1;
          letter-spacing: -0.01em;
          text-align: center;
          color: oklch(0.19 0 0 / 0.1)
        }
      }
      & > nav#globalnav {
        position: relative;
        width: 100%;
        max-width: 420px;
        height: min-content;
        will-change: opacity, visibility, allow-discrete;
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, allow-discrete 0.3s ease-in-out;
        & > ul {
          position: relative;
          display: flex;
          flex-flow: row;
          justify-content: center;
          gap: 4px;
          & > li {
            position: relative;
            &:first-child a {
              border-radius: 32px 8px 8px 32px
            }
            &:last-child a {
              border-radius: 8px 32px 32px 8px
            }
            &:not(:first-child):not(:last-child) a {
              border-radius: 8px
            }
            & > a {
              height: 40px;
              display: flex;
              font-family: var(--font-family-sans);
              color: var(--color-label-primary);
              box-shadow: inset 0px 1px 0px 0px oklch(0.94 0 0 / 0);
              opacity: 1;
              background-color: oklch(0.96 0 0);
              will-change: color, background-color, border-radius, transform;
              transition: color 150ms, background-color 150ms, border-radius 150ms, transform 150ms;
              &:hover {
                color: var(--color-primary);
                transform: scale(2px)
              }
              &:active {
                color: var(--color-primary);
                transform: scale(2px)
              }
            }
          }
        }
      }
    }
  }
</style>