---
const { title } = Astro.props;
---
<header id="PageHeader" role="banner">
  <div class="content">
    <h1 class="title">{title}</h1>
  </div>
</header>
<style>
  header#PageHeader {
    --global-scrollbar-buffer: 15px;
    overflow: hidden;
    display: block;
    & > div.content {
      --offset: 80px;
      max-width: 1680px;
      margin-inline: auto;
      padding-block: var(--offset);
      display: inherit;
      @media screen and (width <= 480px) {
        --offset: 56px
      }
      @media screen and (width <= 734px) {
        --offset: 64px
      }
      @media screen and (width <= 1068px) {
        --offset: 72px
      }
      & > h1.title {
        font-family: var(--font-family-sans);
        color: var(--color-text-primary)
      }
    }
  }
</style>