---
import Layout from '@layouts/Layout.astro';
import PageHeader from '@components/structure/PageHeader.astro';
import ModuleServices from '@components/structure/ModuleServices.astro';
import ModulePricing from '@components/structure/ModulePricing.astro';
import FAQ from '@components/structure/FAQ.astro';
import Anchor from '@components/Anchor.astro';

const {
  title = "Services",
  description = "Explore the services I offer to help you succeed.",
} = Astro.props;
---

<Layout title={title} description={description}>
  <PageHeader title={title} />
  <ModuleServices />
  <section class="module">
    <div class="module-content">
      <h2 class="headline">Contact Me</h2>
      <p class="subhead">Applications are now open for any of my services, don't lose<br />more opportunities and join with the button bellow!</p>
      <Anchor href="https://marcelrojas.tally.com/to/?tally-source=marcelrojas.com">Join in the loop →</Anchor>
    </div>
  </section>
  <ModulePricing />
  <FAQ />
</Layout>