<section>
  <h2 class="headline">My services</h2>
  <ul>
    <li>Web Development</li>
    <li>UI/UX Design</li>
    <li>SEO</li>
  </ul>
</section>
<section class="service is-inview" style="--progress: 0.3446077975248907;">
  <div class="service_container u-container is-inview">
    <div class="service_inner">
      <div class="service_header-outer">
        <div class="service_header">
          <div class="service_header-title-wrap">
            <h2 class="service_header-title u-p1">Service</h2>
          </div>
          <div class="service_header-description-wrap">
            <p class="service_header-description">Wenn alles gleich ist, ist es die größte Chance, anders zu sein.</p>
          </div>
          <div class="service_header-icon-wrap">
            <div class="service_header-icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="none"
                aria-hidden="true"
                class="icon">
                <path fill="currentColor" d="M10 0h10v10H10zM0 10h10v10H0z"></path>
              </svg>
            </div>
            <div class="service_header-icon is-pink">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 20 20"
                aria-hidden="true"
                class="icon">
                <path d="M20 0H6v2h2v4h2v2h2v2h2V8h2V6h2V2h2V0ZM6 10v2H4v2H2v4H0v2h14v-2h-2v-4h-2v-2H8v-2H6Z" fill="currentColor"></path>
              </svg>
            </div>
            <div class="service_header-icon is-peach">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 20 20"
                aria-hidden="true"
                class="icon">
                <path
                  fill="currentColor"
                  fill-rule="evenodd"
                  d="M0 0h20v20H0V0Zm4 16v-2H2V6h2V4h2V2h8v2h2v2h2v8h-2v2h-2v2H6v-2H4Z"
                  clip-rule="evenodd"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="service_cards">
        <div class="service_card-list">
          <div class="service-card" style="translate: none; rotate: none; scale: none; transform: rotateY(-180deg);">
            <div aria-hidden="true" class="service-card_flip-front">
              <div class="service-card_front-overlay" style="opacity: 0;"></div>
              <div class="service-card_front-top">
                <span class="service-card_front-top-title u-c1">Strategy</span>
                <div>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="none"
                    aria-hidden="true"
                    class="icon">
                    <path fill="currentColor" d="M10 0h10v10H10zM0 10h10v10H0z"></path>
                  </svg>
                </div>
              </div>
              <div class="service-card_front-visual">
                <div>
                  <img
                    width="120"
                    height="120"
                    alt=""
                    loading="lazy"
                    src="https://cdn.prod.website-files.com/64591e5db836f60c02bb97e9/6797a20fa66d47f859adbb70_be6541a0545698a1b015d67bfc0cc149_icon-strategy.svg"
                    class="pixel-visual_img" />
                </div>
              </div>
              <div class="service-card_front-bottom">
                <div class="service-card_front-bottom-wrap">
                  <div>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="none"
                      aria-hidden="true"
                      class="icon">
                      <path
                        fill="currentColor"
                        d="M10 0h10v10H10zM0 10h10v10H0z"></path>
                    </svg>
                  </div>
                  <span class="service-card_front-bottom-footnote u-f1">NVL-101</span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 21 16"
                    aria-hidden="true"
                    class="icon is-ce">
                    <path
                      d="M21 15.96v-2.417a4.94 4.94 0 0 1-.75.057c-2.514 0-4.614-1.884-5.13-4.4h4.38V6.8h-4.38c.516-2.516 2.617-4.4 5.13-4.4.255 0 .505.02.75.057V.039A7.115 7.115 0 0 0 20.25 0c-4.142 0-7.5 3.582-7.5 8s3.358 8 7.5 8c.253 0 .503-.013.75-.04ZM0 8c0 4.418 3.358 8 7.5 8 .27 0 .537-.015.8-.045v-2.42a4.96 4.96 0 0 1-.8.065c-2.9 0-5.25-2.507-5.25-5.6 0-3.093 2.35-5.6 5.25-5.6.272 0 .54.022.8.065V.045A7.145 7.145 0 0 0 7.5 0C3.358 0 0 3.582 0 8Z"
                      fill="currentColor"></path>
                  </svg>
                </div>
                <span class="service-card_front-text u-c1">Strategy</span>
              </div>
            </div>
            <div class="service-card_flip-back">
              <div class="service-card_back-top">
                <h3 class="service-card_back-top-title u-c1">Strategy</h3>
                <div>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="none"
                    aria-hidden="true"
                    class="icon">
                    <path fill="currentColor" d="M10 0h10v10H10zM0 10h10v10H0z"></path>
                  </svg>
                </div>
              </div>
              <div class="service-card_back-content">
                <ul class="service-card_back-list w-list-unstyled">
                  <li class="service-card_back-list-item">Visual Research</li>
                  <li class="service-card_back-list-item">Mitbewerber Analyse</li>
                  <li class="service-card_back-list-item">Wireframes</li>
                  <li class="service-card_back-list-item">Content Mapping</li>
                  <li class="service-card_back-list-item">User Flow</li>
                  <li class="service-card_back-list-item">Konzepte</li>
                </ul>
              </div>
              <div aria-hidden="true" class="service-card_back-bottom">
                <div>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="none"
                    aria-hidden="true"
                    class="icon">
                    <path fill="currentColor" d="M10 0h10v10H10zM0 10h10v10H0z"></path>
                  </svg>
                </div>
                <span class="service-card_back-text u-c1">Strategy</span>
              </div>
            </div>
          </div>
          <div class="service-card" style="translate: none; rotate: none; scale: none; transform: translate(0%, 0.622%) translate3d(0px, 0px, 0px) rotateY(-180deg) scale(0.9959, 0.9959);">
            <div aria-hidden="true" class="service-card_flip-front">
              <div class="service-card_front-overlay" style="opacity: 0;">
              </div>
              <div class="service-card_front-top">
                <span class="service-card_front-top-title u-c1">Design</span>
                <div>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 20 20"
                    aria-hidden="true"
                    class="icon">
                    <path d="M20 0H6v2h2v4h2v2h2v2h2V8h2V6h2V2h2V0ZM6 10v2H4v2H2v4H0v2h14v-2h-2v-4h-2v-2H8v-2H6Z" fill="currentColor"></path>
                  </svg>
                </div>
              </div>
              <div class="service-card_front-visual">
                <div>
                  <img
                    width="120"
                    height="120"
                    alt=""
                    loading="lazy"
                    src="https://cdn.prod.website-files.com/64591e5db836f60c02bb97e9/6797a20f7daa2d8b2d055b0a_7600e889a3af59f71db716a7c1ded5bc_icon-design.svg"
                    class="pixel-visual_img" />
                </div>
              </div>
              <div class="service-card_front-bottom">
                <div class="service-card_front-bottom-wrap">
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 20 20"
                      aria-hidden="true"
                      class="icon">
                      <path d="M20 0H6v2h2v4h2v2h2v2h2V8h2V6h2V2h2V0ZM6 10v2H4v2H2v4H0v2h14v-2h-2v-4h-2v-2H8v-2H6Z" fill="currentColor"></path>
                    </svg>
                  </div>
                  <span class="service-card_front-bottom-footnote u-f1">NVL-101</span>
                    <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 21 16"
                    aria-hidden="true"
                    class="icon is-ce">
                    <path d="M21 15.96v-2.417a4.94 4.94 0 0 1-.75.057c-2.514 0-4.614-1.884-5.13-4.4h4.38V6.8h-4.38c.516-2.516 2.617-4.4 5.13-4.4.255 0 .505.02.75.057V.039A7.115 7.115 0 0 0 20.25 0c-4.142 0-7.5 3.582-7.5 8s3.358 8 7.5 8c.253 0 .503-.013.75-.04ZM0 8c0 4.418 3.358 8 7.5 8 .27 0 .537-.015.8-.045v-2.42a4.96 4.96 0 0 1-.8.065c-2.9 0-5.25-2.507-5.25-5.6 0-3.093 2.35-5.6 5.25-5.6.272 0 .54.022.8.065V.045A7.145 7.145 0 0 0 7.5 0C3.358 0 0 3.582 0 8Z" fill="currentColor"></path>
                  </svg>
                </div>
                <span class="service-card_front-text u-c1">Design</span>
              </div>
            </div>
            <div class="service-card_flip-back">
              <div class="service-card_back-top">
                <h3 class="service-card_back-top-title u-c1">Design</h3>
                <div>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 20 20"
                    aria-hidden="true"
                    class="icon">
                    <path d="M20 0H6v2h2v4h2v2h2v2h2V8h2V6h2V2h2V0ZM6 10v2H4v2H2v4H0v2h14v-2h-2v-4h-2v-2H8v-2H6Z" fill="currentColor"></path>
                  </svg>
                </div>
              </div>
              <div class="service-card_back-content">
                <ul class="service-card_back-list w-list-unstyled">
                  <li class="service-card_back-list-item">Unternehmenswebsites</li>
                  <li class="service-card_back-list-item">Marketing Websites</li>
                  <li class="service-card_back-list-item">Design System</li>
                  <li class="service-card_back-list-item">Animation</li>
                  <li class="service-card_back-list-item">Design Support</li>
                  <li class="service-card_back-list-item">Barrierefreies Design</li>
                </ul>
              </div>
              <div aria-hidden="true" class="service-card_back-bottom">
                <div>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" aria-hidden="true" class="icon">
                    <path d="M20 0H6v2h2v4h2v2h2v2h2V8h2V6h2V2h2V0ZM6 10v2H4v2H2v4H0v2h14v-2h-2v-4h-2v-2H8v-2H6Z"fill="currentColor"></path>
                  </svg>
                </div>
                <span class="service-card_back-text u-c1">Design</span>
              </div>
            </div>
          </div>
          <div class="service-card" style="translate: none; rotate: none; scale: none; transform: translate(0%, 15%) rotateY(-180deg) scale(0.9, 0.9);">
            <div aria-hidden="true" class="service-card_flip-front">
              <div class="service-card_front-overlay" style="opacity: 0;"></div>
              <div class="service-card_front-top">
                <span class="service-card_front-top-title u-c1">Build</span>
                <div>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 20 20"
                    aria-hidden="true"
                    class="icon"
                    >
                    <path
                      fill="currentColor"
                      fill-rule="evenodd"
                      d="M0 0h20v20H0V0Zm4 16v-2H2V6h2V4h2V2h8v2h2v2h2v8h-2v2h-2v2H6v-2H4Z"
                      clip-rule="evenodd"></path>
                  </svg>
                </div>
              </div>
              <div class="service-card_front-visual">
                <div>
                  <img
                    width="120"
                    height="120"
                    alt=""
                    loading="lazy"
                    src="https://cdn.prod.website-files.com/64591e5db836f60c02bb97e9/6797a20e6c45c550e3c0ff77_cc81fab4339bbc8ebbe9cc70ef28c84e_icon-build.svg"
                    class="pixel-visual_img" />
                </div>
              </div>
              <div class="service-card_front-bottom">
                <div class="service-card_front-bottom-wrap">
                  <div>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 20 20"
                      aria-hidden="true"
                      class="icon">
                      <path
                        fill="currentColor"
                        fill-rule="evenodd"
                        d="M0 0h20v20H0V0Zm4 16v-2H2V6h2V4h2V2h8v2h2v2h2v8h-2v2h-2v2H6v-2H4Z"
                        clip-rule="evenodd"></path>
                    </svg>
                  </div>
                  <span class="service-card_front-bottom-footnote u-f1">NVL-101</span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 21 16"
                    aria-hidden="true"
                    class="icon is-ce">
                    <path
                      d="M21 15.96v-2.417a4.94 4.94 0 0 1-.75.057c-2.514 0-4.614-1.884-5.13-4.4h4.38V6.8h-4.38c.516-2.516 2.617-4.4 5.13-4.4.255 0 .505.02.75.057V.039A7.115 7.115 0 0 0 20.25 0c-4.142 0-7.5 3.582-7.5 8s3.358 8 7.5 8c.253 0 .503-.013.75-.04ZM0 8c0 4.418 3.358 8 7.5 8 .27 0 .537-.015.8-.045v-2.42a4.96 4.96 0 0 1-.8.065c-2.9 0-5.25-2.507-5.25-5.6 0-3.093 2.35-5.6 5.25-5.6.272 0 .54.022.8.065V.045A7.145 7.145 0 0 0 7.5 0C3.358 0 0 3.582 0 8Z"
                      fill="currentColor"></path>
                  </svg>
                </div>
                <span class="service-card_front-text u-c1">Build</span>
              </div>
            </div>
            <div class="service-card_flip-back">
              <div class="service-card_back-top">
                <h3 class="service-card_back-top-title u-c1">Build</h3>
                <div>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 20 20"
                    aria-hidden="true"
                    class="icon">
                    <path
                      fill="currentColor"
                      fill-rule="evenodd"
                      d="M0 0h20v20H0V0Zm4 16v-2H2V6h2V4h2V2h8v2h2v2h2v8h-2v2h-2v2H6v-2H4Z"
                      clip-rule="evenodd"></path>
                  </svg>
                </div>
              </div>
              <div class="service-card_back-content">
                <ul class="service-card_back-list w-list-unstyled">
                  <li class="service-card_back-list-item">Webflow Entwicklung</li>
                  <li class="service-card_back-list-item">Web Animation</li>
                  <li class="service-card_back-list-item">Webflow CMS</li>
                  <li class="service-card_back-list-item">Barrierefreie Entwicklung</li>
                  <li class="service-card_back-list-item">Technisches SEO</li>
                  <li class="service-card_back-list-item">Frontend Support</li>
                </ul>
              </div>
              <div aria-hidden="true" class="service-card_back-bottom">
                <div>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 20 20"
                    aria-hidden="true"
                    class="icon">
                    <path
                      fill="currentColor"
                      fill-rule="evenodd"
                      d="M0 0h20v20H0V0Zm4 16v-2H2V6h2V4h2V2h8v2h2v2h2v8h-2v2h-2v2H6v-2H4Z"
                      clip-rule="evenodd"></path>
                  </svg>
                </div>
                <span class="service-card_back-text u-c1">Build</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="service_footer">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="none"
          aria-hidden="true"
          class="icon">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M9 5H11V7H13V9H15V11H13V13H11V15H9V13H7V11H5V9H7V7H9V5Z"
            fill="currentColor"></path>
        </svg>
      </div>
    </div>
  </div>
</section>
<section>
  <h2 class="headline">Flexible, transparent pricing built around your needs</h2>
  <p class="subhead">I offer competitive pricing for my services. Please contact me for a detailed quote.</p>
</section>

<style>
  section.service {
    
  }
  section.service .service_container {
    max-width: 1200px;
  }
  section.service .service_header-title {
    font-size: 2rem;
  }
  section.service .service_header-description {
    font-size: 1.25rem;
  }
  section.service .service_header-icon .icon {
    width: 40px;
    height: 40px;
  }
  section.service .service_cards {
    padding-top: 96px;
    padding-bottom: 96px;
    z-index: -1;
    position: relative;
  }
  section.servoce .service_card-list {
    --grid-gutter: var(--size-8);
    --grid-column-width: calc( ((var(--vw, 1vw) * 100) - (2 * var(--grid-margin))) / var(--grid-columns) - (var(--grid-gutter) * (var(--grid-columns) - 1) / var(--grid-columns)) );
    grid-gap: calc((var(--grid-column-width)*1) + (var(--grid-gutter)*(1 - 1)));
    justify-content: center;
    align-items: center;
    display: flex;
    perspective: 125svh;
    perspective-origin: center;
    contain: style;
    font-size: clamp(.625rem,.0132rem + .9868vi,1rem);
  }
  section.service .service-card {
    --front-color-background: var(--ci-violet);
    --back-color-background: var(--ci-white);
    --corner-granularity: 3;
    --border-radius: 1.5em;
    --pixel-visual-size: 7.5em;
    --card-depth: .25em;
    --icon-height: 1.25em;
    --icon-width: 1.25em;
    width: 23.875em;
    position: relative;
    z-index: -1;
    transform-style: preserve-3d;
    aspect-ratio: 382/528;
    backface-visibility: hidden;
    translate: none;
    rotate: none;
    scale: none;
    transform: translate(0%, -0.4145%) translate3d(0px, 0px, 0px) rotateY(-180deg);
  }
  section.service .service-card .service-card_front-text,
  section.service .service-card .service-card_back-text {
    font-size: 1.25rem;
  }
  .service_footer {
    padding-bottom: 64px;
    place-content: center;
    display: grid;
  }
</style>