---

---
<ul class="AnchorLinks-module--list AnchorLinks-module--multiple-columns">
  <li>
    <a class="AnchorLinks-module--link" href="#our-typeface">Our typeface</a>
  </li>
  <li>
    <a class="AnchorLinks-module--link" href="#subfamilies">Subfamilies</a>
  </li>
</ul>
<style>
  .AnchorLinks-module--list {
    direction: ltr;
    color: #161616;
    vertical-align: baseline;
    list-style: none;
    width: 100%;
    column-count: 2;
    margin-bottom: 0;
    margin-top: 32px;
  }
  .AnchorLinks-module--link {
    text-decoration: none;
    color: var(--black);
  }
  .AnchorLinks-module--link:hover {
    text-decoration: underline
  }
  .AnchorLinks-module--multiple-columns {
    column-count: 2;
    column-gap: 1em
  }
  @media (max-width: 720px) {
    .AnchorLinks-module--multiple-columns {
      column-count: 1
    }
  }
</style>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const links = document.querySelector('.AnchorLinks-module--list');
    if (links) {
      links.style.overflowY = 'auto';
      links.style.maxHeight = '200px';
    }
  });
</script>