---
interface Props {
  question: string;
  answer: string;
}

const { question, answer } = Astro.props;
---

<details class="faq-item group py-4 sm:py-5" data-reveal>
  <summary class="question">
    <span class="mt-1 shrink-0">
      <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.643555 7.66309C0.643555 7.39355 0.740234 7.16211 0.933594 6.96875C1.12695 6.76953 1.3584 6.66992 1.62793 6.66992H7.01562V1.29102C7.01562 1.02148 7.1123 0.790039 7.30566 0.59668C7.49902 0.40332 7.73047 0.306641 8 0.306641C8.27539 0.306641 8.50977 0.40332 8.70312 0.59668C8.89648 0.790039 8.99316 1.02148 8.99316 1.29102V6.66992H14.3721C14.6416 6.66992 14.873 6.76953 15.0664 6.96875C15.2598 7.16211 15.3564 7.39355 15.3564 7.66309C15.3564 7.93848 15.2598 8.17285 15.0664 8.36621C14.873 8.55371 14.6416 8.64746 14.3721 8.64746H8.99316V14.0439C8.99316 14.3076 8.89648 14.5361 8.70312 14.7295C8.50977 14.9229 8.27539 15.0195 8 15.0195C7.73047 15.0195 7.49902 14.9229 7.30566 14.7295C7.1123 14.5361 7.01562 14.3076 7.01562 14.0439V8.64746H1.62793C1.3584 8.64746 1.12695 8.55371 0.933594 8.36621C0.740234 8.17285 0.643555 7.93848 0.643555 7.66309Z" fill="#0E0F10"></path>
      </svg>
    </span>
    <span class="text-base sm:text-lg font-medium text-[#373230]">{question}</span>
  </summary>
  <div class="answer">
    <div class="answer-inner mt-2 pr-10 text-sm sm:text-base leading-relaxed text-[#6b6b62] origin-top">
      <p>{answer}</p>
    </div>
  </div>
</details>

<style>
  details.faq-item {
    padding-bottom: 0.625rem;
    border-bottom: 1px solid oklch(0.17 0 0 / 0.1);
    &[open] > summary.question > svg {
      transform: rotate(45deg)
    }
    & > summary.question {
      padding: 0.5rem;
      gap: 8px;
      display: flex;
      font-weight: var(--font-weight-medium);
      color: oklch(0.17 0 0 / 0.8);
      cursor: pointer;
      transition: 0.2s ease-out;
      &::-webkit-details-marker {
        display: hidden
      }
      & > svg {
        flex-shrink: 0;
        transition: transform 200ms ease-in-out
      }
    }
    & > div.answer {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      gap: 0.875rem;
      padding: 0.875rem 0.5rem 0.5rem;
      & p {
        font-family: var(--font-family-sans);
        font-weight: var(--font-weight-medium);
        font-size: var(--font-size-16);
        line-height: 130%;
        letter-spacing: -0.32px;
        color: oklch(0.17 0 0 / 0.6);
        a {
          color: var(--color-link);
          text-decoration: underline;
          &:hover {
            color: var(--color-link-hover)
          }
        }
      }
    }
  }
  @keyframes fadeInFaq {
    from {
      opacity: 0;
      transform: translateY(-8px)
    }
    to {
      opacity: 0.95;
      transform: translateY(0)
    }
  }
  .animate-fadeInFaq {
    animation: fadeInFaq 0.3s
  }
</style>