---
import { icons, type IconName } from '@types/icons';

interface Props {
  name: IconName;
}

const { name } = Astro.props;

const svgContent = icons[name];

if (!svgContent) {
  throw new Error(`Icono "${name}" no encontrado en /src/assets/icons/`);
}
---

<span class="icon-label">
  <slot set:html={svgContent} />
</span>

<style is:global>
  @layer components {
    span.icon-label {
      width: fit-content;
      height: fit-content;
      display: inline-block;
      vertical-align: middle;
      & > svg {
        display: inline-block;
        vertical-align: middle;
        object-fit: cover;
        fill: currentColor
      }
    }
  }
</style>