---
import { icons, type IconName } from '@types/icons';

interface Props {
  name: IconName;
  size?: number;
}

const { name, size } = Astro.props;

const svgContent = icons[name];

if (!svgContent) {
  throw new Error(`Icono "${name}" no encontrado en /src/assets/icons/`);
}
---

<span class="icon-label" style={{ width: `${size}px`, height: `${size}px` }}>
  <slot set:html={svgContent} />
</span>

<style is:global>
  @layer components {
    span.icon-label {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      vertical-align: middle;
      & > svg {
        width: max-content;
        height: max-content;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        fill: currentColor
      }
    }
  }
</style>