---
import { SITE_TITLE } from '@types/consts';
---

<svg id="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" role="img" aria-labelledby="logo-title logo-desc">
  <style>
    .logo-text {
      white-space: pre-wrap;
      word-break: break-word;
      word-wrap: break-word;
      font-family: var(--font-family-display);
      font-size: calc(calc(1rem * 5) * 1);
      font-weight: var(--font-weight-semibold);
      line-height: 1.1;
      letter-spacing: -0.01em;
      text-align: center;
      fill: oklch(0.19 0 0 / 0.1)
    }
  </style>
  <title id="logo-title">{SITE_TITLE}</title>
  <text class="logo-text">Marcel</text>
  <text class="logo-text">Rojas</text>
</svg>

<style>
  svg#logo {
    position: relative;
    width: auto;
    max-width: 496px;
    height: auto
  }
</style>