---
import { SITE_TITLE } from '@types/consts';
---

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" fill="currentColor">
  <style>
    .logo-text {
      position: relative;
      width: auto;
      max-width: 496px;
      height: auto;
      white-space: pre-wrap;
      word-break: break-word;
      word-wrap: break-word;
      font-family: var(--font-family-display);
      font-size: calc(calc(1rem * 5) * 1);
      font-weight: var(--font-weight-semibold);
      line-height: 1.1;
      letter-spacing: -0.01em;
      text-align: center;
      fill: oklch(0.19 0 0 / 0.1)
    }
  </style>
  <title>{SITE_TITLE}</title>
  <text>Marcel</text>
  <text>Rojas</text>
</svg>