---
import { SITE_TITLE } from '@types/consts';
---

<svg id="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 200" role="img" aria-labelledby="logo-title">
  <style>
    .logo-text {
      white-space: pre-wrap;
      word-break: break-word;
      word-wrap: break-word;
      font-family: var(--font-family-display);
      /*font-size: calc(calc(1rem * 5) * 1);*/
      font-weight: var(--font-weight-semibold);
      line-height: 1.1;
      letter-spacing: -0.01em;
      text-align: center;
      text-anchor: middle;
      fill: oklch(0.19 0 0 / 0.1)
    }
  </style>
  <title id="logo-title">{SITE_TITLE}</title>
  <text x="50%" y="90" class="logo-text" font-size="90">Marcel</text>
  <text x="50%" y="180" class="logo-text" font-size="90">Rojas</text>
</svg>

<style>
  svg#logo {
    position: relative;
    width: 100%;
    max-width: 496px;
    height: auto
  }
</style>