---
import spinner from '/spinner.svg?raw';
---
<div id="splash-screen">
  <div class="spinner-container" set:html={spinner} />
</div>
<style is:inline>
  @layer components {
    #splash-screen {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      inset: 0;
      z-index: 100;
      contain: layout paint;
      content-visibility: auto;
      background-color: black;
      opacity: 1;
      visibility: visible;
      user-select: none;
      touch-action: none;
      overscroll-behavior: contain;
      will-change: opacity, visibility, allow-discrete;
      transition: allow-discrete 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
      @starting-style {
        display: flex;
        opacity: 1;
        visibility: visible
      }
    }
    #splash-screen.hidden {
      opacity: 0;
      visibility: hidden
    }

    /* Spinner styles */
    .spinner-container svg {
      width: 48px;
      height: 48px;
      animation: spinner-rotate 1.2s steps(8, end) infinite
    }

    .spinner-container rect {
      fill: var(--color-text-primary)
    }

    @keyframes spinner-rotate {
      from {
        transform: rotate(0deg)
      }
      to {
        transform: rotate(360deg)
      }
    }
  }
</style>
<script src="@scripts/splashscreen.js"></script>